In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.metrics import accuracy_score
import nltk
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.linear_model import SGDClassifier
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import FeatureUnion, Pipeline
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn import linear_model
from sklearn.linear_model import ElasticNet

In [3]:

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing, svm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [4]:
df_append = pd.DataFrame()
for file in csv_files:
            df_temp = pd.read_csv(file)
            df_append = df_append.append(df_temp, ignore_index=True)
    
df_append

NameError: name 'csv_files' is not defined

In [85]:
df_append = pd.read_csv('XTrain.csv')
df_temp = pd.read_csv('YTrain.csv')
xtest = pd.read_csv('XTest.csv')

In [86]:
df_temp = df_temp.rename(columns={"Unnamed: 0": "id"})

In [87]:
df_temp

        id  vote_average
0     9069           5.7
1     2603           6.9
2     7738           5.7
3     1579           7.4
4     5058           6.3
...    ...           ...
6995  5734           6.2
6996  5191           7.3
6997  5390           6.6
6998   860           8.3
6999  7270           5.6

[7000 rows x 2 columns]

In [88]:
xtest.drop(columns=['id', 'genre','release_date'], inplace=True)

In [89]:
xtest

,original_language,original_title,popularity,overview,revenue,runtime,tagline
0,en,Testament of Youth,11.988,Testament of Youth is a powerful story of love...,1822250,129.0,Divided by war. United by love.
1,en,The Secret Life of Pets,22.223,The quiet life of a terrier named Max is upend...,875457937,87.0,Think this is what they do all day?
2,en,How to Be a Latin Lover,40.548,An aging Latin lover gets dumped by his sugar ...,26251899,115.0,Fifty shades grayer
3,en,The Assassination of Jesse James by the Coward...,17.125,Outlaw Jesse James is rumored to be the 'faste...,14711793,160.0,Beyond the myth lies America's greatest betrayal
4,en,"I, Daniel Blake",15.494,"A middle aged carpenter, who requires state we...",15793051,100.0,NaN
...,...,...,...,...,...,...,...
2995,he,Nothing to Hide,16.580,Teenage girl is coping with her sexuality due ...,0,15.0,NaN
2996,ja,åŠ‡å ´ç‰ˆ å¹¼å¥³æˆ¦è¨˜,64.712,"With its armies sweeping across the continent,...",0,98.0,NaN
2997,en,See No Evil,27.069,A group of delinquents are sent to clean the B...,18564467,84.0,This summer. Evil gets raw.
2998,en,One Crazy Summer: A Look Back at Gravity Falls,13.176,A look behind-the-scenes at the making of Grav...,0,105.0,Welcome to Gravity Falls!
2999,en,To Kill a Mockingbird,19.890,"Scout Finch, 6, and her older brother Jem live...",13129846,129.0,The rare film story of a father who must expos...

In [90]:
xtest

,original_language,original_title,popularity,overview,revenue,runtime,tagline
0,en,Testament of Youth,11.988,Testament of Youth is a powerful story of love...,1822250,129.0,Divided by war. United by love.
1,en,The Secret Life of Pets,22.223,The quiet life of a terrier named Max is upend...,875457937,87.0,Think this is what they do all day?
2,en,How to Be a Latin Lover,40.548,An aging Latin lover gets dumped by his sugar ...,26251899,115.0,Fifty shades grayer
3,en,The Assassination of Jesse James by the Coward...,17.125,Outlaw Jesse James is rumored to be the 'faste...,14711793,160.0,Beyond the myth lies America's greatest betrayal
4,en,"I, Daniel Blake",15.494,"A middle aged carpenter, who requires state we...",15793051,100.0,NaN
...,...,...,...,...,...,...,...
2995,he,Nothing to Hide,16.580,Teenage girl is coping with her sexuality due ...,0,15.0,NaN
2996,ja,åŠ‡å ´ç‰ˆ å¹¼å¥³æˆ¦è¨˜,64.712,"With its armies sweeping across the continent,...",0,98.0,NaN
2997,en,See No Evil,27.069,A group of delinquents are sent to clean the B...,18564467,84.0,This summer. Evil gets raw.
2998,en,One Crazy Summer: A Look Back at Gravity Falls,13.176,A look behind-the-scenes at the making of Grav...,0,105.0,Welcome to Gravity Falls!
2999,en,To Kill a Mockingbird,19.890,"Scout Finch, 6, and her older brother Jem live...",13129846,129.0,The rare film story of a father who must expos...

In [97]:
finaldf = pd.merge(df_append, df_temp, on="id")

In [98]:
finaldf

,id,original_language,original_title,popularity,release_date,genre,overview,revenue,runtime,tagline,vote_average
0,9069,en,The Operative,10.142,7/24/2019,"['Drama', 'Thriller']",A young Western woman is recruited by the Moss...,0,120.0,Every secret has a price.,5.7
1,2603,ja,ãƒ‡ã‚¹ãƒŽãƒ¼ãƒˆ the Last name,28.346,10/28/2006,"['Fantasy', 'Thriller', 'Mystery']",In the second installment of the Death Note fi...,50710400,141.0,The last name to be written in the DEATH NOTE....,6.9
2,7738,fr,Sibyl,13.098,5/24/2019,"['Drama', 'Comedy']","Sibyl, a jaded psychotherapist, returns to her...",0,100.0,NaN,5.7
3,1579,en,Teen Titans Go! To the Movies,42.672,7/27/2018,"['Animation', 'Action', 'Comedy', 'Science Fic...",All the major DC superheroes are starring in t...,28646544,85.0,The superhero movie to end all superhero movie...,7.4
4,5058,en,The Crush,20.728,4/2/1993,"['Drama', 'Thriller']",A precocious and obsessive teenager develops a...,13609396,89.0,He thought it was just a crush. He was dead wr...,6.3
...,...,...,...,...,...,...,...,...,...,...,...
6995,5734,nl,De Familie Claus,13.863,12/7/2020,"['Family', 'Fantasy']","When his grandfather suddenly falls ill, holid...",0,96.0,NaN,6.2
6996,5191,en,EverAfter,17.171,7/31/1998,"['Drama', 'Romance', 'Comedy']","A unique 16th century woman, Danielle possesse...",65705772,121.0,Desire. Defy. Escape.,7.3
6997,5390,en,Book of Dragons,11.337,11/15/2011,"['Fantasy', 'Animation', 'Action', 'Comedy', '...",So you want to be a dragon trainer do you? Pre...,0,18.0,All New Dragons,6.6
6998,860,en,The Hate U Give,99.513,10/19/2018,"['Crime', 'Drama']","Raised in a poverty-stricken slum, a 16-year-o...",34934009,133.0,Two worlds. One voice. No going back.,8.3
6999,7270,en,My Perfect Romance,13.196,2/14/2018,['Romance'],"Newly appointed CEO of Robinson Tech, Wes Robi...",0,91.0,NaN,5.6

In [99]:
finaldf.drop(columns=['release_date', 'genre'])

,id,original_language,original_title,popularity,overview,revenue,runtime,tagline,vote_average
0,9069,en,The Operative,10.142,A young Western woman is recruited by the Moss...,0,120.0,Every secret has a price.,5.7
1,2603,ja,ãƒ‡ã‚¹ãƒŽãƒ¼ãƒˆ the Last name,28.346,In the second installment of the Death Note fi...,50710400,141.0,The last name to be written in the DEATH NOTE....,6.9
2,7738,fr,Sibyl,13.098,"Sibyl, a jaded psychotherapist, returns to her...",0,100.0,NaN,5.7
3,1579,en,Teen Titans Go! To the Movies,42.672,All the major DC superheroes are starring in t...,28646544,85.0,The superhero movie to end all superhero movie...,7.4
4,5058,en,The Crush,20.728,A precocious and obsessive teenager develops a...,13609396,89.0,He thought it was just a crush. He was dead wr...,6.3
...,...,...,...,...,...,...,...,...,...
6995,5734,nl,De Familie Claus,13.863,"When his grandfather suddenly falls ill, holid...",0,96.0,NaN,6.2
6996,5191,en,EverAfter,17.171,"A unique 16th century woman, Danielle possesse...",65705772,121.0,Desire. Defy. Escape.,7.3
6997,5390,en,Book of Dragons,11.337,So you want to be a dragon trainer do you? Pre...,0,18.0,All New Dragons,6.6
6998,860,en,The Hate U Give,99.513,"Raised in a poverty-stricken slum, a 16-year-o...",34934009,133.0,Two worlds. One voice. No going back.,8.3
6999,7270,en,My Perfect Romance,13.196,"Newly appointed CEO of Robinson Tech, Wes Robi...",0,91.0,NaN,5.6

In [100]:
find_revenue_not_zero = finaldf[finaldf.revenue > 0]

In [101]:
find_revenue_not_zero.drop(columns=['release_date', 'genre'], inplace=True)

/var/folders/6k/htbjx7l93ldb6p54pmscffxh0000gn/T/ipykernel_1418/2462131102.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  find_revenue_not_zero.drop(columns=['release_date', 'genre'], inplace=True)

In [102]:
find_revenue_not_zero

,id,original_language,original_title,popularity,overview,revenue,runtime,tagline,vote_average
1,2603,ja,ãƒ‡ã‚¹ãƒŽãƒ¼ãƒˆ the Last name,28.346,In the second installment of the Death Note fi...,50710400,141.0,The last name to be written in the DEATH NOTE....,6.9
3,1579,en,Teen Titans Go! To the Movies,42.672,All the major DC superheroes are starring in t...,28646544,85.0,The superhero movie to end all superhero movie...,7.4
4,5058,en,The Crush,20.728,A precocious and obsessive teenager develops a...,13609396,89.0,He thought it was just a crush. He was dead wr...,6.3
10,5601,en,DuckTales: The Movie - Treasure of the Lost Lamp,14.493,"With his nephews and niece, everyone's favorit...",18115724,74.0,NaN,6.8
11,5231,en,Escape from New York,17.854,"In the future, crime is out of control and New...",50244700,99.0,1997. New York city is now a maximum security ...,7.1
...,...,...,...,...,...,...,...,...,...
6990,8322,en,Forever Young,10.729,A 1939 test pilot asks his best friend to use ...,127956187,102.0,"Time waits for no man, but true love waits for...",6.5
6992,4426,en,Premium Rush,18.299,"In Manhattan, a bike messenger picks up an env...",31083599,91.0,Ride Like Hell,6.3
6993,466,en,John Wick: Chapter 3 - Parabellum,115.765,Super-assassin John Wick returns with a $14 mi...,326709727,130.0,The Grace Period Is Over,7.4
6996,5191,en,EverAfter,17.171,"A unique 16th century woman, Danielle possesse...",65705772,121.0,Desire. Defy. Escape.,7.3
6998,860,en,The Hate U Give,99.513,"Raised in a poverty-stricken slum, a 16-year-o...",34934009,133.0,Two worlds. One voice. No going back.,8.3

In [103]:
X_train = find_revenue_not_zero
X_train = X_train.drop(columns=['id','vote_average'])

In [105]:
X_train

,original_language,original_title,popularity,overview,revenue,runtime,tagline
1,ja,ãƒ‡ã‚¹ãƒŽãƒ¼ãƒˆ the Last name,28.346,In the second installment of the Death Note fi...,50710400,141.0,The last name to be written in the DEATH NOTE....
3,en,Teen Titans Go! To the Movies,42.672,All the major DC superheroes are starring in t...,28646544,85.0,The superhero movie to end all superhero movie...
4,en,The Crush,20.728,A precocious and obsessive teenager develops a...,13609396,89.0,He thought it was just a crush. He was dead wr...
10,en,DuckTales: The Movie - Treasure of the Lost Lamp,14.493,"With his nephews and niece, everyone's favorit...",18115724,74.0,NaN
11,en,Escape from New York,17.854,"In the future, crime is out of control and New...",50244700,99.0,1997. New York city is now a maximum security ...
...,...,...,...,...,...,...,...
6990,en,Forever Young,10.729,A 1939 test pilot asks his best friend to use ...,127956187,102.0,"Time waits for no man, but true love waits for..."
6992,en,Premium Rush,18.299,"In Manhattan, a bike messenger picks up an env...",31083599,91.0,Ride Like Hell
6993,en,John Wick: Chapter 3 - Parabellum,115.765,Super-assassin John Wick returns with a $14 mi...,326709727,130.0,The Grace Period Is Over
6996,en,EverAfter,17.171,"A unique 16th century woman, Danielle possesse...",65705772,121.0,Desire. Defy. Escape.
6998,en,The Hate U Give,99.513,"Raised in a poverty-stricken slum, a 16-year-o...",34934009,133.0,Two worlds. One voice. No going back.

In [106]:
y_label = find_revenue_not_zero.vote_average
y_label

1       6.9
3       7.4
4       6.3
10      6.8
11      7.1
       ...
6990    6.5
6992    6.3
6993    7.4
6996    7.3
6998    8.3
Name: vote_average, Length: 3730, dtype: float64

In [51]:
regr = LinearRegression()

In [52]:
regr.fit(X_train,y_label)

LinearRegression()

In [53]:
xtest['runtime'].fillna(np.mean(xtest['runtime']), inplace=True)

In [54]:
y_prediction =  regr.predict(xtest)

In [55]:
y_prediction

array([6.85416851, 6.48735591, 6.66966041, ..., 6.21160879, 6.5056172 ,
       6.86061827])

In [56]:
print(type(y_prediction))

<class 'numpy.ndarray'>

In [57]:
df = pd.DataFrame(y_prediction, columns=['vote_average'])

In [114]:
df.to_csv('mynew.csv')

In [58]:
xtestnew = pd.read_csv('XTest.csv')

In [106]:
xtestnew.drop(columns=['original_language', 'original_title', 'release_date', 'genre','overview', 'runtime','tagline', 'revenue', 'popularity'], inplace=True)

In [108]:
xtestnew.to_numpy()

array([[6252],
       [4684],
       [1731],
       ...,
       [3063],
       [6487],
       [4705]])

In [111]:
newdf = pd.DataFrame(xtestnew, columns=['id'])

In [112]:
newdf.to_csv()

        id
0     6252
1     4684
2     1731
3     4742
4     4521
...    ...
2995  8014
2996  1074
2997  3063
2998  6487
2999  4705

[3000 rows x 1 columns]

In [59]:
lr = SGDClassifier(loss='log', penalty='l2', alpha=0.001, max_iter=2000, shuffle=True, verbose=0, random_state=42)
lr.fit(X_train, y_label)

ValueError: Unknown label type: (array([3.2, 3.5, 3.7, 3.9, 4. , 4.1, 4.2, 4.3, 4.4, 4.5, 4.6, 4.7, 4.8,
       4.9, 5. , 5.1, 5.2, 5.3, 5.4, 5.5, 5.6, 5.7, 5.8, 5.9, 6. , 6.1,
       6.2, 6.3, 6.4, 6.5, 6.6, 6.7, 6.8, 6.9, 7. , 7.1, 7.2, 7.3, 7.4,
       7.5, 7.6, 7.7, 7.8, 7.9, 8. , 8.1, 8.2, 8.3, 8.4, 8.5, 8.6, 8.7,
       9.2]),)

In [60]:
regr = svm.SVR()
regr.fit(X_train, y_label)

SVR()

In [61]:
predict = regr.predict(xtest)

In [62]:
print(predict)

[6.50534818 7.43226196 6.56552989 ... 6.54999529 6.49961198 6.53712048]

In [63]:
df3 = pd.DataFrame(predict, columns=['vote_average'])
df3.to_csv('return.csv')

In [64]:
clf = Ridge(alpha=1.0)

In [65]:
clf.fit(X_train, y_label)

Ridge()

In [66]:
clf.predict(xtest)

array([6.85416827, 6.48735635, 6.66966033, ..., 6.21160903, 6.50561722,
       6.86061803])

In [67]:
classifier = LogisticRegression()
classifier.fit(X_train, y_label)

ValueError: Unknown label type: 'continuous'

In [122]:
X_train

,original_language,original_title,popularity,overview,revenue,runtime,tagline
1,ja,ãƒ‡ã‚¹ãƒŽãƒ¼ãƒˆ the Last name,28.346,In the second installment of the Death Note fi...,50710400,141.0,The last name to be written in the DEATH NOTE....
3,en,Teen Titans Go! To the Movies,42.672,All the major DC superheroes are starring in t...,28646544,85.0,The superhero movie to end all superhero movie...
4,en,The Crush,20.728,A precocious and obsessive teenager develops a...,13609396,89.0,He thought it was just a crush. He was dead wr...
10,en,DuckTales: The Movie - Treasure of the Lost Lamp,14.493,"With his nephews and niece, everyone's favorit...",18115724,74.0,NaN
11,en,Escape from New York,17.854,"In the future, crime is out of control and New...",50244700,99.0,1997. New York city is now a maximum security ...
...,...,...,...,...,...,...,...
6990,en,Forever Young,10.729,A 1939 test pilot asks his best friend to use ...,127956187,102.0,"Time waits for no man, but true love waits for..."
6992,en,Premium Rush,18.299,"In Manhattan, a bike messenger picks up an env...",31083599,91.0,Ride Like Hell
6993,en,John Wick: Chapter 3 - Parabellum,115.765,Super-assassin John Wick returns with a $14 mi...,326709727,130.0,The Grace Period Is Over
6996,en,EverAfter,17.171,"A unique 16th century woman, Danielle possesse...",65705772,121.0,Desire. Defy. Escape.
6998,en,The Hate U Give,99.513,"Raised in a poverty-stricken slum, a 16-year-o...",34934009,133.0,Two worlds. One voice. No going back.

1       6.9
3       7.4
4       6.3
10      6.8
11      7.1
       ...
6990    6.5
6992    6.3
6993    7.4
6996    7.3
6998    8.3
Name: vote_average, Length: 3730, dtype: float64

In [108]:
new_y_label = pd.DataFrame(y_label, columns = ['vote_average'])

In [109]:
new_y_label

      vote_average
1              6.9
3              7.4
4              6.3
10             6.8
11             7.1
...            ...
6990           6.5
6992           6.3
6993           7.4
6996           7.3
6998           8.3

[3730 rows x 1 columns]

In [120]:
lasso = linear_model.Lasso(alpha=0.1)

In [121]:
lasso.fit(X_train,new_y_label)

ValueError: could not convert string to float: 'ja'

In [72]:
submit = lasso.predict(xtest)

In [73]:
print(submit)

[6.84818946 6.49955839 6.66736054 ... 6.21763039 6.50601176 6.85466126]

In [74]:
df4 = pd.DataFrame(submit, columns=['vote_average'])
df4.to_csv('newsubmit.csv')

In [75]:
regr = ElasticNet(random_state=0)
regr.fit(X_train, new_y_label)

ElasticNet(random_state=0)

In [76]:
elasticnetsubmit = regr.predict(xtest)
print(elasticnetsubmit)

[6.82386826 6.54911137 6.65801752 ... 6.24211623 6.50760837 6.8304342 ]

In [124]:
df5 = pd.DataFrame(elasticnetsubmit, columns=['vote_average'])
df5.to_csv('elasticnetsubmit.csv')

In [125]:
regr = LinearRegression()
regr.fit(X_train,new_y_label)

LinearRegression()

In [126]:
y_prediction =  regr.predict(xtest)
print(y_prediction)

[[6.85416851]
 [6.48735591]
 [6.66966041]
 ...
 [6.21160879]
 [6.5056172 ]
 [6.86061827]]

In [117]:
vector = TfidfVectorizer(ngram_range=(1,2))
vector.fit(X_train)

TfidfVectorizer(ngram_range=(1, 2))

In [118]:
newX_train = vector.transform(X_train)
newy_train = vector.transform(new_y_label)

In [119]:
lasso2 = linear_model.Lasso(alpha=0.1)
lasso2.fit(newX_train, new_y_label)

ValueError: Found input variables with inconsistent numbers of samples: [7, 3730]

## Using Pipelines to seperate between categorical and numerical data:

In [397]:
from sklearn.compose import make_column_selector as selector
import datetime

df_append = pd.read_csv('XTrain.csv')
df_temp = pd.read_csv('YTrain.csv')
xtest = pd.read_csv('XTest.csv')

In [398]:
df_temp = df_temp.rename(columns={"Unnamed: 0": "id"})

In [399]:
df_append['runtime'].fillna(np.mean(df_append['runtime']), inplace=True)
xtest['runtime'].fillna(np.mean(df_append['runtime']), inplace=True)

df_append['tagline'].fillna("", inplace=True)
xtest['tagline'].fillna("", inplace=True)

df_append['overview'].fillna("", inplace=True)
xtest['overview'].fillna("", inplace=True)

df_append['release_date'].fillna("", inplace=True)
xtest['release_date'].fillna("", inplace=True)

df_append['release_date'].astype(str)
xtest['release_date'].astype(str)

0       10/14/2014
1        6/18/2016
2         3/6/2017
3         9/7/2007
4       10/21/2016
           ...
2995    11/11/2021
2996      2/8/2019
2997     5/19/2006
2998     7/24/2018
2999    12/20/1962
Name: release_date, Length: 3000, dtype: object

In [400]:
df_append = df_append.drop(columns=['id'])
xtest = xtest.drop(columns=['id'])

In [401]:
from sklearn.compose import make_column_selector as selector

numerical_columns_selector = selector(dtype_exclude=object)
categorical_columns_selector = selector(dtype_include=object)

numerical_columns = numerical_columns_selector(df_append)
categorical_columns = categorical_columns_selector(df_append)

In [384]:
numerical_columns = ['popularity','revenue','runtime']
categorical_columns = ['genre','release_date']
tfidf_colums = ['original_language','original_title','overview','tagline']

In [402]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_extraction.text import TfidfVectorizer

categorical_preprocessor = OneHotEncoder(handle_unknown="ignore")
numerical_preprocessor = StandardScaler()
#tfidf_prepprocessor = TfidfVectorizer()

In [403]:
from sklearn.compose import ColumnTransformer

preprocessor = ColumnTransformer([
    ('one-hot-encoder', categorical_preprocessor, categorical_columns),
    ('standard_scaler', numerical_preprocessor, numerical_columns)])

In [404]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import RandomForestRegressor

model = make_pipeline(preprocessor, RandomForestRegressor())
model

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('one-hot-encoder',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['original_language',
                                                   'original_title',
                                                   'release_date', 'genre',
                                                   'overview', 'tagline']),
                                                 ('standard_scaler',
                                                  StandardScaler(),
                                                  ['popularity', 'revenue',
                                                   'runtime'])])),
                ('randomforestregressor', RandomForestRegressor())])

In [405]:
df_temp = df_temp.drop(columns=['id'])

In [406]:
from sklearn.model_selection import train_test_split

data_train, data_test, target_train, target_test = train_test_split(
    df_append, df_temp, random_state=42)

In [407]:
newmodel = model.fit(data_train,target_train)

/Users/kartiksharma/opt/anaconda3/lib/python3.9/site-packages/sklearn/pipeline.py:394: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)

In [408]:
tocsvFile = newmodel.predict(data_test)

In [409]:
model.score(data_test, target_test)

0.3940998314140266

In [754]:
df5 = pd.DataFrame(tocsvFile, columns=['vote_average'])
df5.to_csv('llllliouty.csv')